* {
  margin: 0;
}

body {
  background: linear-gradient(#b8dafc, white);
  overflow: hidden;
}

h3 {
  border-bottom: 2px solid lightgray;
  text-align: center;
  padding-bottom: 20px;
}

button {
  width: fit-content;
  padding: 8px;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 5px;
  background: whitesmoke;
}

button:hover {
  background: rgba(0, 0, 0, 0.5);
}

.demo-area {
  width: 95%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  padding-right: 10px;
}

#message {
  border: 1px solid lightgray;
  background: whitesmoke;
  border-radius: 5px;
  width: 500px;
  height: auto; /* container will adjust to the text entered by user  */
  margin: auto; /* places container in the center */
  padding: 20px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

#message input {
  width: 90%;
  padding: 8px 0;
  border-radius: 5px;
  border: 1px solid lightgray;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#message-output {
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  #message input {
    width: 82%;
  }
}
